/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2015, 7:46:02 PM
    Author     : Celeste
*/

h1{
    text-align: center;
    color: #005b96;
    padding-bottom: 0px;
}

body{
    background-color: #FFDBAC;
}

.grid{
    /* display: inline-block; */
    margin: 30px;
    padding: 0px;
    text-align: center;
}

div .Career-Grid{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    /* top: -90px; */
}
.colorSquareUl{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.colorSquareLi{
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
}

.color-square-table {
    margin: auto;
}

#red{
    background-color: #FF0000;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#orange{
    background-color: #FF7F00;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#yellow{
    background-color: #FFFF00;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#pink{
    background-color: #FF99CC;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#blue{
/*    list-style-image: url("images/scientist.jpg");*/
    background-color: #00d2ff;
    padding: 0px;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#blue:hover {
    transform: scale(1.5);
}

#indigo{
    background-color: #AB5DE3;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#violet{
    background-color: #EE82EE;
    border-radius: 25px;
    margin:5px;
}

#gold{
    background-color: #C5B358;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}

#green{
    background: #84D484;
    border-radius: 25px;
    margin:5px;
    height: 90px;
    width: 90px;
}
.youtube {
    text-align: center;
}
.socialLogin{
    text-decoration: none;
}
.socialLogin li {
    display: inline;
    padding: 0px;
    border: 1px dashed red;
}
.myCareerPath{
    text-align: left;
    font-size: 30px;
    /* border-bottom-color: black; */
    list-style-type: none;
}

.myCareerPath-title h1{
    color: #005b96;
    font-size: 30pt;
}

.myCareerPath li{
    font-size: 25px;
    /*/ border-top-left-radius: 3px; /*/
    /*/ border-top-right-radius: 3px; /*/
    padding-top: 20px;
    /*/ border-color: black; /*/
    /*/ border-radius: 3px 3px 0 0; /*/
    /*/ border-bottom: 1px solid black; /*/
    margin-top: 0px 0px;
}
.meter { 
 height: 15px;  /* Can be anything /*/
 position: relative;
 background: #555;
 -moz-border-radius: 25px;
 -webkit-border-radius: 25px;
 border-radius: 25px;
 padding: 10px;
 margin-top: 0px;
 margin-right: 10px;
 box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}