/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2015, 5:58:23 PM
    Author     : Jason
*/
@media (max-width: 650px) {
    
    .container {background-color:#EEDB00;height: 100vh;font-family: Comic Sans MS;color: #7BB31A;}
    .container h1 {color: #8B88FF;}
    .options {
        width: 80%;
        margin: 20px 25px;
    }
    .choice{
        height: 200px;
        width: 200px;
        background-color:#FF9C00;
        display:inline-block;
        text-align: center;
    
        border: 1px dashed blue;
        /* padding: 20px; */
}
    /*choice.A {}*/
    

    
}
