/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2015, 5:58:23 PM
    Author     : Jason
*/
@media (max-width: 650px) {
    
    .container {
        background-color:#FFDBAC;
        height: 100%;
        font-family: Comic Sans MS;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border: 0px;
}
    .container h1 {color: #EB6841;}
    .options {
        width: 85%;
  /* margin: 20px 25px; */
  text-align: center;
  list-style-type: none;
  
        /* border-top: 1px solid; */
  padding: 0px;
    }
    .options li{
        background-color:#FF9C00;
        display:block;
        text-align: left;
        height: 50px;
        margin: 12px 0px;
        /* padding: 25px; */
        padding-top: 32px;
}
.options a {
    postion: relative;
    /* margin: 24px; */
    /* margin-top: 48px; */
    text-decoration: none;
    /* padding-top: 9px; */
    margin: 0px 30px 0px;
}
    

    
}




