/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2015, 5:58:23 PM
    Author     : Jason
*/
@media (max-width: 650px) {
    
    .container {background-color:#EEDB00;height: 100%;font-family: Comic Sans MS;color: #7BB31A;margin:0px}
    .container h1 {color: #8B88FF;margin: 0px}
    .options {
        width: 85%;
  /* margin: 20px 25px; */
  text-align: center;
  list-style-type: none;
  border-top: 1px solid;
  padding: 0px;
    }
    .options li{
        height: 150px;
        width: 150px;
        background-color:#FF9C00;
        display:inline-block;
        text-align: center;
        margin: 25px;
}
.options li:hover {
    background-color:#ffaf32;
    transition: background-color 0.5s ease;
}
.options a {
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: 40%;
}
    

    
}




